$color-primary: #f9c6c1;
$color-secondary: #ac43d9;

$color-text: #1b1b1b;
$color-additional: #ebc0f5;
$color-button: #716df2;
$color-light: #ffffff;
$color-error: #ff0215;

$font-size-standart: 1.6rem;
